@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --font-base: 16px;
  --space-xs: 0.5rem;  /* 8px */
  --space-sm: 1rem;    /* 16px */
  --space-md: 2rem;    /* 32px */
  --space-lg: 4rem;    /* 64px */
  --cor-principal: #E8A200;
  --cor-clara:  #f4f4f4;
  --cor-media: #FEF9E7;
  --cor-escura: #554023;
  --cor-hover:#6d544d;
  --fonte-titulo: 'Lora', serif;
  --fonte-corpo: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: var(--fonte-corpo);
    background-color: var(--cor-clara);
}

.container-cabecalho,
.container-banner,
.container-saibamais,
.container-dicas,
.container-depoimento,
.container-newsletter {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  text-align: center;
  color: var(--cor-escura);
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: var(--fonte-titulo);
}

.container-newsletter{
  padding: 20px 10px 20px 10px;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

#campo {
  padding: 10px;
  border: whitesmoke 3px solid;
  border-radius: 20px;
}

#botao {
  padding: 10px;
  border-radius: 20px;
  border: 0px;
  color: white;
  font-size: 13px;
  background-color: greenyellow;
}

.container-footer {
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
  border-top: var(--cor-principal) 3px solid;
}

.redes-sociais a{
  margin: 5px 10px 0 0;
  color: #333;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.redes-sociais a:hover {
  color: var(--cor-principal); /* Muda de cor ao passar o mouse (azul do LinkedIn) */
}